{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="uk-tile uk-tile-default uk-padding-small">Charger des commandes en vanilla JS</h1>
    <!-- Filtre des commandes -->
    <form>
        <label for="order-filter">Filtre des commandes :</label>
        <select id="order-filter">
            <option value="">-- Filtre par statut ---</option>
            <option value="new">new</option>
            <option value="shipped">shipped</option>
            <option value="canceled">canceled</option>
        </select>
    </form>
    <!-- Liste des commandes -->
    <ul id="orders"></ul>

    <script type="application/javascript">

        // Récupération des datas en vanillaJs
        var httpRequest = new XMLHttpRequest();
        httpRequest.addEventListener('readystatechange', function() {

            // append les orders si le call a reussi
            if (httpRequest.readyState === XMLHttpRequest.DONE && httpRequest.status === 200) {
    
                var orders = JSON.parse(httpRequest.responseText);
                orders.forEach(function(order) {

                    var templateContent = document.querySelector('#order-line').content;

                    var clone = templateContent.cloneNode(true);

                    clone.querySelector('li').setAttribute('data-status', order.status);
                    clone.querySelector('.order-id').textContent = order.id;
                    clone.querySelector('.order-date').textContent = order.date;
                    clone.querySelector('.order-customer').textContent = order.customer;
                    clone.querySelector('.order-status').textContent = order.status;

                    document.querySelector('#orders').append(clone);
                });
            }
        });
        httpRequest.open("GET", '/api/orders/random');
        httpRequest.send();

        // Filtre les orders

        document.getElementById('order-filter').addEventListener('change', function() {
            var filter = document.getElementById('order-filter');
            var status = filter.options[filter.selectedIndex].value;

            // si aucun filtre n'est séléctionné, affiche toutes les orders
            if (!status) {
                document.querySelectorAll('#orders li').forEach(function(node) {
                    node.style.display = 'block';
                });
            } // sinon affiche uniquement les orders correspondantes 
            else {
                document.querySelectorAll('#orders li').forEach(function(node) {
                    if (node.getAttribute('data-status') === status) {
                        node.style.display = 'block';
                    } else {
                        node.style.display = 'none';
                    }
                });
            }
        })


    </script>
    <!-- Template -->
    <template id="order-line">
        <li data-status="">
            <span class="order-id" style="display: inline-block; width: 50px;"></span>
            <span class="order-date" style="display: inline-block; width: 250px;"></span>
            <span class="order-customer" style="display: inline-block; width: 300px;"></span>
            <span class="order-status" style="display: inline-block; width: 100px;"></span>
        </li>
    </template>
{% endblock %}